{% extends "base.html" %}
{% block title %}
Admin Home
{% endblock %}
{% block content %}

<div class="container">
	<h1> {{ user.first_name }}'s is now Admin</h1>
	<br>


	<form method="POST">
		<br>
		<div align="center">
			<input name="question" id="question" class="form-control"
			placeholder="eg. Russia is the biggest country?" />
			<br>
			<div>

				<label for="true" class="form-label">True</label>
				<input type="radio" name="options" id="true" value="true" style="margin-right: 10rem; width: 20px; height: 20px;" />

				<label for="false"  class="form-label">False</label>
				<input type="radio" name="options" id="false" value="false" style="width: 20px; height: 20px;" />
				<br>
			</div>
			<button class="btn btn-primary" type="submit">Add Question</button>
		</div>
	</form>
	<br>
	<ul class="list-group" id="notes">
		{% for question in user.questions %}
		<li class="list-group-item">
			{{ question.text }}
			<div>Answer: {{question.answer }}</div>
			<button type="button" class="close" onClick=deleteNote({{question.id}})>
				<span aria-hidden="true">&times;</span>
			</button>
		</li>
		<br>
		{% endfor %}
	</ul>
</div>

{% endblock %}
