{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2> {{user.first_name}}'s Home</h2>
<h4 style="display: flex; justify-content: flex-end">{{user.first_name}}'s score: {{user.score}}</h4>
<h6 style="display: flex; justify-content: flex-end">{{user.first_name}}'s questions answered: {{user.questions_answered}}</h6>


<h4 align="center">Questions</h4>
{% for question in questions %}
<a href="question/{{question.id}}">
	<li class="list-group-item">
		<p class="text-muted">Author: {{question.admin.first_name}}</p>
		{{ question.text }}
		<span class="close">
			<p>{{question.date_created}}</p>
		</span>
	</li>
</a>

<br>

{% endfor %}

{% endblock %}
