{% extends "base.html" %}
{% block title %}Question Page{% endblock %}
{% block content %}

<div class="container">
    <h2>Author: {{question.admin.first_name}}</h2>
    <h4 align="center">
        {{ question.text }}
    </h4>
    <div class="mt-2" align="center">
        <form method="POST">
            <div>
                <label for="true" class="form-label">True</label>
                <input type="radio" name="options" id="true" value="true"
                style="position: relative; top: 5px; width: 20px; height: 20px;" />
            </div>
            <div style="height: 10px;"></div>
            <div>
                <label for="false" class="form-label">False</label>
                <input type="radio" name="options" id="false" value="false"
                style="position: relative; top: 5px; width: 20px; height: 20px;" />
            </div>
            <br>
            <button type="submit" class="btn btn-success">Answer</button>
        </form>    
    </div>
</div>
{% endblock %}